.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
.heading {
  color: #252627;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 32px;
}
.search-container {
  background-color: #f1f5f9;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.searchIcon {
  width: 20px;
}
.searchBar {
  border-width: 0px;
  outline: none;
  background-color: #f1f5f9;
}
.list-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
